@keyframes zoomInUp {
    from {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }

    to {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
    }
}